.center {
    display:flex;
    flex-direction: column;
    text-align: center;
    /* grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    h h h h
    p p p p
    p p p p
    a a a a; */
}
header {
    background-color: white;
    opacity: 50%;
    margin: 5px;
    padding:5px;
}
.introduction_info {
    display:flex;
    place-items: center;
}
.introduction_info > img {
    width: 25em;
    height: 25em;
    margin:5px;
}
.row {
    display:flex;
    flex-direction: column;
    margin:10px;
}
.row > blockquote > h2,h3 {
    text-align: center;
}
.row > blockquote {
    margin-bottom: 30px;
}
.programs > img {
    width: 10em;
    height:10em;
    aspect-ratio: 3;
    margin: 5px;
}
.programs {
    margin-top: 20px;
    place-items: center;
    background-color: var(--pricolor);
    color: var(--tricolor);
    margin-left:5px;
}
.introduction_info > .row > a {
    background-color: var(--pricolor);
    text-align: center;
    place-self: center;
    padding:10px;
    place-items:center;
    margin-top:30px;
}
.list-items {
    display:none;
}

@media (max-width:768px) {
    .introduction_info {
        flex-direction: column;
    }
}
@media (max-width:864px) {
    header, .programs {
        margin:10px;
    }
}
@media (max-width:407px) {
    .introduction_info > img {
        width:20em;
        height:20em;
    }
}
@media (max-width:328px) {
    .list-items {
        display:block;
        margin:10px;
        list-style-type: square;
    }
    header > h1 {
        font-size: 3em;
    }
}
@media (max-width: 210px) {
    header > h1 {
        font-size: 2em;
    }
    .introduction_info > .row {
        font-size: 1em;
    }
}