.center {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}
    /* grid-template-areas: 
    h h h h
    p p i i
    p p i i
    a a a a ;
}
header {
    grid-area: h;
}
img {
    grid-area: p;
}
.introduction_info {
    grid-area: i;
}
.programs {
    grid-area: a;
} */