.form {
    width: 100%;
    height:50vh;
    background-color: var(--pricolor);
    padding:10px;
    border-radius: 5px;
    color: var(--tricolor);
    height: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
}
fieldset {
    padding:5px;
    margin:10px;
    width: 100%;
}
h1  {
    background-color: white;
    opacity: 50%;
    margin:10px;
    padding:10px;
    border-radius: 5px;
}
legend {
    text-align: center;
}
label, input, textarea {
    margin:5px;
}
textarea {
    width: 98%;
}
.location-info {
    display:flex;
    place-items: center;
}
.location-info > iframe {
    width:100%;
    height: 50vh;
    margin:10px;
    padding:10px;
}
.form > button[type="submit"] {
    width:90%;
    text-align: center;
    padding:5px;
    margin:5px;
}
.socials > a > img {
    width: 10em;
    height:10em;
    aspect-ratio: 3;
    margin: 5px;
    background-color: white;
    border-radius: 50%;
    padding:10px;
}
.socials {
    background-color: var(--pricolor);
    color: var(--tricolor);
    margin-left:5px;
    display:flex;
    flex-direction: row;
    place-content: center;
    margin:10px;
    padding:10px;
}