.body {
    display:flex;
}
form {
    width: 90%;
    margin:10px;
    background-color: var(--pricolor);
    padding:10px;
    margin:5px;
    border-radius: 5px;
    color: var(--tricolor);
    height: 100%;
    grid-column: 1;
}
fieldset {
    padding:5px;
    margin:10px;
}
h1  {
    background-color: white;
    opacity: 50%;
    margin:10px;
    padding:10px;
    border-radius: 5px;
}
legend {
    text-align: center;
}
label, input, textarea {
    margin:5px;
}
textarea {
    width: 98%;
}
.socialmedia {
    background-color: var(--altcolor);
    display: flex;
    flex-direction: column;
    width:100%;
    text-align: center;
}
.socialmedia > .insta > a > img, .socialmedia > .nano > a > img, .socialmedia > .indeed > a > img{
    background-color: var(--tricolor);
    border-radius: 50%;
    padding:5px;
    place-items:center;
}
button [type=submit] {
    width: 90%;
    padding:10px;
}