/* color theme */
:root {
    --seccolor: #ff7f7f;
    --pricolor: #473729;
    --altcolor: #938b7e;
    --tricolor: #FFFFFF;
    --yee:#010101;
    --idkanymore: red;
    font-size: 16px;
}
/* repeative formatting */
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: var(--tricolor);
    font-family: "Sour Gummy", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 1.2em;
}
h1 {    
    font-size: 64px;
    color:var(--idkanymore);

}
h1, h2, h3, h4, h5, h6 {
    font-family: "Sour Gummy", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;

}

label, p, legend, input, select {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.center{
    overflow-y:auto;
    scrollbar-color: var(--pricolor) var(--altcolor);
    
    }
ul > li {
    list-style-type: none;
}