/* color theme */
:root {
    --seccolor: #ff7f7f;
    --pricolor: #473729;
    --altcolor: #938b7e;
    --tricolor: #FFFFFF;
    --yee:#010101;
}
/* formatting */
* {
    padding:0;
    margin:0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: var(--altcolor);
    font-family: "Sour Gummy", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 1.2em;
}
h1 {
    font-family: "Sour Gummy", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}