.hero {
    display: flex;
    height: 100vh;
    width:75vw;
    background-image: url(hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-items: center;
    justify-content: center;
}
.intro {
    display:flex;
    position: absolute;
    background-color: var(--tricolor);
    border-radius: 5px;
    opacity: 50%;
    padding:1em;
    color:var(--idkanymore);
    flex-direction: column;
    text-align: center;
    font-size: 2em;
    width: max-content;
}

.intro:hover {
    opacity:100%;
    box-shadow: 10px 5px 5px var(--pricolor);
}
@media (max-width: 997px) {
    .hero, .header {
        height:100%;
    }
}