.hero {
    display: flex;
    height: 100vh;
    width:75vw;
    background-image: url(hero.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-items: center;
    justify-content: center;
}
.intro {
    display:flex;
    position: absolute;
    background-color: var(--tricolor);
    border-radius: 5px;
    opacity: 50%;
    padding:1em;
    color:red;
    flex-direction: column;
    text-align: center;
    font-size: 2em;
}

a {
    display: flex;
    flex-direction: column;
}
img {
    width:100px;
    height:100px;
    justify-content: center;
}
.intro:hover {
    opacity:100%;
    box-shadow: 10px 5px 5px var(--pricolor);
}