header {
    display: flex;
}
.navigation {
    display:flex;
}
.navigation > a {
    padding: 10px;
    margin:10px;
    background-color: var(--pricolor);
    justify-content: center;
}
.navigation > a:hover {
    opacity:100%;
    box-shadow: 10px 5px 5px var(--pricolor);
}
h1 {
    background-color: white;
    opacity: 50%;
    margin: 10px;
    padding:5px;
    width: 50%;
    text-align: center;
}
h1:hover {
    opacity:100%;
    box-shadow: 10px 5px 5px var(--pricolor);
}
.project {
    background-color: var(--pricolor);
    padding: 5px;
    margin:10px;
    box-shadow: 5px 5px 10px var(--seccolor);
    display:grid;
    grid-template-columns: .5fr 2fr;
}
.project > iframe {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    background-color: white;
}
.project:hover {
    box-shadow: 10px 5px 5px var(--idkanymore);
}
.inside {
    display: flex;
    flex-direction: column;
}
.inside > a {
    margin: 5px;
    justify-content: center;
    align-items:center;
}
.inside > p {
    color: white;
    margin: 10px;
    text-align: center;
}
header{
    position: sticky;
    top:1px;
    background-color: var(--altcolor);
    /* flex-wrap: wrap; */
}